<div class="agreement">
 <h2 class="accept">○○利用規約</h2>
 <div class="accepted">
  <p>
   本規約は、○○（以下「当店」といいます）が運営する「○○」において、当店が提供する各種サービス（以下「本サービス」といいます）の利用にあたる諸条件を定めるものです。当店が○○に定める本サービスの利用登録を申し込み本サービスの利用を承認された方（以下「会員」といいます）は、本規約に同意したものとみなされます。なお、本規約は変更される場合があります。会員様には、最新の規約内容をご確認いただきますようお願い申し上げます。
  </p>
  <h3 class="accept-1">
   第1条（○○サービス概要）
  </h3>
  <p>
   1．本サービスとは、当店が運営するインターネット上のWebサイト「○○」（以下「本サイト」といいます）を通じて提供する、書籍（当店が認証する「大学において、授業の主たる教材として用いられる図書」に限ります）のオンライン仲介サービスおよびこれに付随したサービスをいいます。本サービスは、次項および第３項に定める手順に従って提供されるものとします。
  </p>
  <p>
   2．当店は、本サイトにて会員様に告知するサービスガイドおよびヘルプ等の諸規定（以下、「諸規定」といいます）に定める方法で、会員様間の書籍レンタルを仲介します。会員様は、本サービスを利用するにあたり、当店が認証した書籍を当店の諸規定に従う方法で貸与する者（以下「貸与者」といいます）、当店が認証した書籍を当店の諸規定に従う方法で借用する者（以下「借用者」といいます）のいずれかに属します。なお、当店が提供するオンライン仲介サービスとは、貸与者と借用者の間の契約成立前後にわたる一切の情報伝達および書籍授受が円滑に行われるためのサービスをいいます。
  </p>
  <p>
   3．当店は、貸与者から提供された書籍の情報に対し、諸規定に定める方法で認証の可否いずれかの判断を下します。認証された書籍の情報は、本サイトに公開され、その公開後に貸与者と借用者の間のレンタル契約が可能となります。
   金銭授受
   商品授受の方法
  </p>
  <p>
   4．当店が提供するオンライン仲介サービスは、貸与者と借用者の間の書籍のレンタル機会を提供するものであり、当店が自ら売買を行うものではなく、売買の委託を受けるものでもありません。当店は、諸規定中に別段の定めがある場合を除き、レンタル契約の取消、解約、返金、保証など、取引の遂行には一切関与しません。また、当店が提供するオンライン仲介サービスは、競りの方法（オークション）により書籍のレンタルを行おうとする者のあっせんを行うものでもありません。
  </p>
  <p>
   5．メール送信　通知
  </p>
  <p>
   6．当店は、会員様の本サービス利用登録の解除（以下「サービス解除」といいます）の受付および処理を完了した場合、サービス解除をした元会員様に電子メールを送付することで、その旨を通知します。
  </p>
  <h3 class="accept-1">
   第2条（本規約の範囲と変更）
  </h3>
  <p>
   1．会員様は、本サービスの利用に関して、本規約および諸規定の全てに従うものとします。
  </p>
  <p>
   2．当店が、本サイトにて随時お客様に告知する諸規定は、本規約の一部を構成するものとします。
  </p>
  <p>
   3．本規約と諸規定の定めが異なる場合は、諸規定の定めが優先的に適用されます。
  </p>
  <p>
   4．当店は、会員様の承諾を得ることなく、本規約および諸規定の変更（以下「規約変更」といいます）をいつでも行うことができます。
  </p>
  <p>
   5．当店は、規約変更を行う場合、変更後の本規約および諸規定（以下「変更後規約」といいます）の内容を、本サイトにてお客様に告知します。
  </p>
  <p>
   6．規約変更の効力は、本サイトに変更後規約が提出された後、10日間の予告期間の満了をもって発生するものとします。
  </p>
  <h3 class="accept-1">
   第3条（利用登録）
  </h3>
  <p>
   1．本サービスを利用するためには、本サイトの「会員登録情報入力画面」にて、当店が諸規定に定める事項を入力し、当店による利用承認を受ける必要があります。
  </p>
  <p>
   2．次の各号いずれかに該当する方は、会員になることはできません。
  </p>
  <p>
 （1）満18歳未満の方
  </p>
  <p>
 （2）当店が諸規定に定める大学に所属する学部生または大学院生ではない方
  </p>
  <p>
 （3）当店が諸規定に定める本サービスの有効な決済手段を利用できない方
  </p>
  <p>
 （4）有効な電子メールアドレスを所有していない方
  </p>
  <p>
 （5）すでに利用登録を完了した会員様
  </p>
  <p>
 （6）本規約にご同意いただけない方
  </p>
  <p>
  3．当店は、利用登録申請者が次の各号いずれかに該当する場合、利用承認を行わないことがあります。
  </p>
  <p>
 （1）日本在住でない方
  </p>
  <p>
 （2）利用登録申請内容に虚偽、誤記または記入漏れがある方
  </p>
  <p>
 （3）過去に本規約違反などにより、強制的に利用登録を解除された方
  </p>
  <p>
 （4）その他、当店が会員として不適当と判断した方
  </p>
  <p>
  4．当店は、会員様が第２項または前項各号いずれかに該当することが利用承認後に判明した場合、利用登録の一時停止または利用承認の取り消しを行うことができるものとします。
  </p>
  <p>
  5．利用登録申請者および会員様は、利用登録申請内容が常にご自身の正確な情報であるように、管理および修正を行う責任を負います。
  </p>
 
 
  <p>サービス説明：料金の対価としての提供サービス範囲</p>
  <p>利用ルール　情報保護開示　連絡先変更通知</p>
  <p>名誉棄損行為、著作権審判、スパムメール等禁止→措置</p>
  <p>ユーザーによる修正可否</p>
  <p>ユーザー同士の取引手順・ルール</p>
  <p>ユーザー間トラブル責任なし</p>
  <p>ユーザー間の商品不具合、瑕疵責任なし</p>
  <p>利用金額、支払方法（口座、クレジット）</p>
  <p>仲介料発生条件、啓さん。請求方法</p>
  <p>著作権　ユーザー提供コンテンツ：移転or残留</p>
  <p>ユーザーが侵害した場合、ユーザー責任</p>
  <p>投稿を事業者が修正、変更、削除可能</p>
  <p>投稿・データが消失した場合の賠償責任なし、上限</p>
  <p>違反者ペナルティ</p>
  <p>制裁内容範囲（アカウント停止、損害賠償）</p>
  <p>損害賠償責任　ユーザーの免責　事業者の</p>
  <p>通信障害等サービス中断、一定時間内なら責任ないし上連<
中止、変更、終了　通知　賠償ナシ
紛争時裁判所
  </p>
 </div>

</div>