<% if guider_signed_in? %>
 <div class="contents life">
    <div class="success">
      <h3 class="done">
        お問い合わせ
      </h3>
      <h3>
       メールでのお問い合わせはこちらから➡︎
        honda770810@gmail.com
      </h3>

      <a class="btn" href="/plans">マイページへ</a>
    </div>
 </div>
<% end %>