<div class="contents row">
  <%= form_tag('/guiders', method: :post) do %>
    <h3>
      Information
    </h3>
    <input placeholder="Name" type="string" name="student_name" autofocus="true">
    <input placeholder="School" type="string" name="university" autofocus="true">
    <input placeholder="Year" type="string" name="year" autofocus="true">
    <input placeholder="Hometown" type="string" name="hometown" autofocus="true">
    <input placeholder="ImageUrl" type="text" name="Image" autofocus="true">
    <input placeholder="Message" type="text" name="message" autofocus="true">
    <input placeholder="Contact" type="text" name="contact" autofocus="true">
    <input type="submit" value="SENT">
  <% end %>
</div>