<div class="contents graph" style="margin-left: 425px; height: 670px; width: 600px;">
    <h2 style="text-align: center; font-weight: 600; font-size: 25px; color: inherit; line-height: 36px;
    white-space: nowrap; width: 600px;">投稿する</h2>
    <div class="success" style=" width: 600px;">
      <div class="post1">
        <div class="post2">
          <a class="btn" style="width: 160px;" href="/plans/new">本</a>
        </div>
        <div class="post2">
          <a class="btn" style="width: 160px; " href="/professions/new">過去問</a>
        </div>
        <div class="post2">
          <a class="btn" style="width: 160px; " href="/tests/new">資格</a>
        </div>
      </div>
    </div>
</div>