<div class="contents graph" style="width: 480px; height: 670px;">
    <h2 style="text-align: center; font-weight: 600; font-size: 25px; color: inherit; line-height: 36px;
    white-space: nowrap;">アップデート</h2> 

    <div class="success" style="width: 480px; height: 250px;">
      <h3 style="text-align: center; font-weight: 600; font-size: 18px; color: inherit; line-height: 36px;
    white-space: nowrap;">
        個人情報の入力・更新が完了しました
      </h3>
      <a class="btn" style="margin-top: 30px; font-size: 16px;" href="/">投稿一覧へ戻る</a>
    </div>
</div>