<% if tourist_signed_in? %>
 <div class="contents row">
    <div class="success">
      <h3 class="done">
        Thank you for your payment.
      </h3>
      <h3>
        Your transaction has been completed, and a receipt for your purchase has been emailed to you.
      You may log into your account at www.paypal.com to view details of this transaction.
      </h3>
      <h3>
        Would you contact with guider about your journey through their Gmail?
      </h3>

      <a class="btn" href="/">Your Page</a>
    </div>
 </div>
<% end %>