<% if tourist_signed_in? %>
 <div class="contents row">
    <div class="success">
      <h3 class="done">
        Contact Us
      </h3>
      <h3>
        If you need to help, contact this email anytime.
        honda770810@gmail.com
      </h3>

      <a class="btn" href="/">Your Page</a>
    </div>
 </div>
<% end %>