     
<div class="contents life" style="margin-left: 350px;">
     <%= form_tag plans_path, :method => 'get', :class => 'gopro' do %>
                   <div class="question_answer1"><%= text_field_tag :search1, params[:search1], class: "gogo_interview", placeholder: '大学名' %></div>
                   <div class="question_answer1"><%= text_field_tag :search2, params[:search2], class: "gogo_interview", placeholder: '大学名' %></div>
                   <div class="interview_answer1"><%= submit_tag "", :name => nil, class: "interview1" %></div>
     <% end %>
</div>