<div class="all-star" style="margin-top: 10px; margin-bottom: 50px;">
   <span style="margin-left: 126px;" class="category-is">ユリイカ</span>
   <i class="fas fa-angle-right"></i>
   <a class="category-id">カテゴリー一覧</a>
</div>

<div style="margin-left: 310px;">
   <h2 class="category-id" style="font-size: 20px; display: block;">カテゴリー一覧</h2>
   <a class="category-if">ビジネス・経営</a><span style="margin-left: 10px;">|</span>
   <a class="category-if">文学・評論</a><span style="margin-left: 10px;">|</span>
   <a class="category-if">コンピュータ・IT</a><span style="margin-left: 10px;">|</span>
   <a class="category-if">歴史・地理</a><span style="margin-left: 10px;">|</span>
   <a class="category-if">人文・思想</a><span style="margin-left: 10px;">|</span>
   <a class="category-if">趣味・実用</a><span style="margin-left: 10px;">|</span>
   <a class="category-if">専門書</a>
   <a class="category-if" style="display: block;">医学・薬学・看護学・歯科学</a>
</div>

<div style="margin-left: 310px; margin-top: 30px; width: 750px; height: 500px;">
  <div style="
    ">
      <div style="background-color: #E47911; width: 750px; height: 40px; border-top-left-radius: 4px; border-top-right-radius: 4px;">

         <h3 class="category-id" style="color: white; padding: 4px 20px; font-size: 20px;">本</h3>
      </div>
      <div class="half-score">
       
       <div class="open-score" style="width: 750px; height: 420px; padding: 14px 30px 10px 30px; background-color: #FAFAFA; border: 1px solid #dce0e0">
         <div class="close-score">
          <div class="basic-score">
           <a style="font-size: 16px;">すべて</a>
           <p class="category-id" style="display: block; margin: 5px 0; font-size: 14px;">本</p>
           <a style="margin-left: 20px; margin-top: 5px;  margin-bottom: 0; display: block; font-size: 16px;" class="category-id">文学・評論</a>
           <a style="margin-left: 20px; margin-top: 5px;  margin-bottom: 0; display: block; font-size: 16px;" class="category-id">ビジネス・経営</a>
           <a style="margin-left: 20px; margin-top: 5px; margin-bottom: 0; display: block; font-size: 16px;" class="category-id">コンピュータ・IT</a>
           <a style="margin-left: 20px; margin-top: 5px; margin-bottom: 0; display: block; font-size: 16px;" class="category-id">歴史・地理</a>
           <a style="margin-left: 20px; margin-top: 5px; margin-bottom: 0; display: block; font-size: 16px;" class="category-id">趣味・実用</a>
           <a style="margin-left: 20px; margin-top: 5px; margin-bottom: 0; display: block; font-size: 16px;" class="category-id">医学・薬学・看護学・歯科学</a>
           <a style="margin-left: 20px; margin-top: 5px; margin-bottom: 0; display: block; font-size: 16px;" class="category-id">地図・旅行ガイド</a>
          </div>
          <div class="basic-score">
           <a style="margin-left: 20px; margin-top: 61px;  margin-bottom: 0; display: block; font-size: 16px;" class="category-id">洋書</a>
           <a style="margin-left: 20px; margin-top: 5px;  margin-bottom: 0;display: block;" class="category-id">参考書</a>
           <a style="margin-left: 20px; margin-top: 5px; margin-bottom: 0; display: block; font-size: 16px;" class="category-id">スポーツ</a>
           <a style="margin-left: 20px; margin-top: 5px; margin-bottom: 0; display: block; font-size: 16px;" class="category-id">ノンフィクション</a>
           <a style="margin-left: 20px; margin-top: 5px; margin-bottom: 0; display: block; font-size: 16px;" class="category-id">健康・医学</a>
           <a style="margin-left: 20px; margin-top: 5px; margin-bottom: 0; display: block; font-size: 16px;" class="category-id">エンタメ</a>
           
          </div>
         </div>
       
           
          </div>
         </div>
        </div>

      </div>
  </div>

</div>
<div style="margin-left: 310px; margin-top: 30px; width: 750px; height: 500px;">
  <div style="
    ">
      <div style="background-color: #E47911; width: 750px; height: 40px; border-top-left-radius: 4px; border-top-right-radius: 4px;">

         <h3 class="category-id" style="color: white; padding: 4px 20px; font-size: 20px;">過去問</h3>
      </div>
      <div class="half-score">
       
       <div class="open-score" style="width: 750px; height: 420px; padding: 14px 30px 10px 30px; background-color: #FAFAFA; border: 1px solid #dce0e0">
         <div class="close-score">
          <div class="basic-score">
           <a style="font-size: 16px;">すべて</a>
           <p class="category-id" style="display: block; margin: 5px 0; font-size: 14px;">本</p>
           <a style="margin-left: 20px; margin-top: 5px;  margin-bottom: 0; display: block; font-size: 16px;" class="category-id">文学・評論</a>
           <a style="margin-left: 20px; margin-top: 5px;  margin-bottom: 0; display: block; font-size: 16px;" class="category-id">ビジネス・経営</a>
           <a style="margin-left: 20px; margin-top: 5px; margin-bottom: 0; display: block; font-size: 16px;" class="category-id">コンピュータ・IT</a>
           <a style="margin-left: 20px; margin-top: 5px; margin-bottom: 0; display: block; font-size: 16px;" class="category-id">歴史・地理</a>
           <a style="margin-left: 20px; margin-top: 5px; margin-bottom: 0; display: block; font-size: 16px;" class="category-id">趣味・実用</a>
           <a style="margin-left: 20px; margin-top: 5px; margin-bottom: 0; display: block; font-size: 16px;" class="category-id">医学・薬学・看護学・歯科学</a>
           <a style="margin-left: 20px; margin-top: 5px; margin-bottom: 0; display: block; font-size: 16px;" class="category-id">地図・旅行ガイド</a>
          </div>
          <div class="basic-score">
           <a style="margin-left: 20px; margin-top: 61px;  margin-bottom: 0; display: block; font-size: 16px;" class="category-id">洋書</a>
           <a style="margin-left: 20px; margin-top: 5px;  margin-bottom: 0;display: block;" class="category-id">参考書</a>
           <a style="margin-left: 20px; margin-top: 5px; margin-bottom: 0; display: block; font-size: 16px;" class="category-id">スポーツ</a>
           <a style="margin-left: 20px; margin-top: 5px; margin-bottom: 0; display: block; font-size: 16px;" class="category-id">ノンフィクション</a>
           <a style="margin-left: 20px; margin-top: 5px; margin-bottom: 0; display: block; font-size: 16px;" class="category-id">健康・医学</a>
           <a style="margin-left: 20px; margin-top: 5px; margin-bottom: 0; display: block; font-size: 16px;" class="category-id">エンタメ</a>
           
          </div>
         </div>
       
           
          </div>
         </div>
        </div>

      </div>
  </div>

</div>