<div class="contents graph" style="height: 670px; width: 900px; margin-left: 255px;">
  <div style="width: 900px;">
   <h2 style="text-align: center; font-weight: 600; font-size: 30px; color: inherit; line-height: 36px;
    white-space: nowrap; width: 878px;">サービス</h2>

    <div style="height: 180px; padding: 40px; border-radius: 4px; display: flex;">
       
       <div style="width: 300px; text-align: center; margin-top: 30px; display: flex;">
        <div style="width: 250px; display: block; text-align: center; ">
         <h3 style="font-weight: 600; font-size: 22px; color: inherit; line-height: 36px;
    white-space: nowrap; ">本事業</h3>
         <a class="btn" href="/plans">サイトを見る</a>
        </div>
       </div>
       <div style="width: 300px; margin-top: 30px; display: flex;">
        <div style="width: 250px; display: block; text-align: center; ">
         <h3 style="font-weight: 600; font-size: 22px; color: inherit; line-height: 36px;
    white-space: nowrap; ">まとめサイト事業</h3>
         <a class="btn" href="/tests">サイトを見る</a>
        </div>
       </div>
       <div style="width: 300px; text-align: center; margin-top: 30px; display: flex;">
        <div style="width: 250px; display: block; text-align: center; ">
         <h3 style="font-weight: 600; font-size: 22px; color: inherit; line-height: 36px;
    white-space: nowrap; ">テスト対策事業</h3>
         <a class="btn" href="/professions/:id/category">サイトを見る</a>
        </div>
       </div>

    </div>
   
  </div>
</div>