<div class="contents graph" style="height: 670px; width: 600px;">
  <div style="width: 640px;">
   <h2 style="text-align: center; font-weight: 600; font-size: 25px; color: inherit; line-height: 36px;
    white-space: nowrap;">エラーが発生しました</h2>

    <div style="height: 180px; padding: 40px; box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
        border-radius: 4px;">
       <h4 style="text-align: center; color: font-weight: 600; color: red; font-size: 17px; color: inherit; line-height: 36px;
      white-space: nowrap;">決済のエラーが発生しましたので、再度お試しお願い致します。
       </h4>
       <div style="width: 560px; text-align: center; margin-top: 30px;">
         <a class="btn" href="/">投稿一覧へ戻る</a>
       </div>

    </div>
   
  </div>
</div>