<div class="contents graph" style="height: 670px; width: 600px;">
  <div style="width: 600px;">
   <h2 style="text-align: center; font-weight: 600; font-size: 30px; color: inherit; line-height: 36px;
    white-space: nowrap; width: 600px;">お問い合わせ</h2>
   <p style="text-align: center;">ご質問がございましたらお気軽にお問い合わせください。</p>
    <div style="height: 180px;">
       
       <h3 style="text-align: center;">
       メールでのお問い合わせはこちらから➡︎
        honda770810@gmail.com
       </h3>

    </div>
   
  </div>
</div>