<div class="contents row">
  <%= form_tag('/plans', method: :post) do %>
    <h3>
      プラン作成
    </h3>
    <input placeholder="Title" type="text" name="title" autofocus="true">
    <input placeholder="Image URL" type="text" name="image" autofocus="true">
    <input placeholder="How many hours" type="integer" name="times" autofocus="true">
    <div class="container">
      <div class="row">
        <div class='col-sm-6'>
            <input type='text' class="form-control" id='datetimepicker4' />
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker4').datetimepicker();
            });
        </script>
      </div>
    </div>
    <textarea placeholder="Contents" name="contents" cols="30" rows="10"></textarea>
    <input type="submit" value="SENT">
  <% end %>
</div>