<div class="all-star" style="margin-top: 10px;">
   <span style="margin-left: 126px;" class="category-is">ユリイカ</span>
   <i class="fas fa-angle-right"></i>
   <a class="category-id" href="/categorys">カテゴリー一覧</a>
   <i class="fas fa-angle-right"></i>
   <a class="category-id" href="/tests">過去問</a>
</div>


<div class="mainpage">
 
  <div class="contents center">

    <div class="second-go" style="height: 800px;">
     <% @tests.each do |test| %>
     <div class="posts" style="width: 250px; height: 179px; margin-bottom: 50px; margin-top: 50px;">
        <%= image_tag(test.book.thumb.url, :class => "creat") %>
        <%= link_to "", "/tests/#{test.id}", class: "hah" %>
      <div class="mix-change">
          <h2 class="line_go" style="width: 250px; margin-bottom: 30px;"><%= simple_format(test.summary) %></h2>
      </div>
     </div>
     <% end %>

    </div>
  </div>
</div>






