<div class="contents graph" style="height: 678px; width: 800px; margin-top: 80px; margin-left: 340px;">
 <div style="width: 700px;">
  <div class="page-header" style="margin-bottom: 30px;">
    <h1 style="text-align: center; font-weight: 600; font-size: 25px; color: inherit; line-height: 36px;
    white-space: nowrap; width: 700px; margin-top: 0px;">お問い合わせ</h1>
  </div>
  <div style="padding: 30px; box-shadow: 0 0 1px rgba(41, 41, 41, 0.2); background-color: white; box-sizing: border-box;">
     <p style="text-align: center; margin-bottom: 30px;">
      お問い合わせいただきありがとうございました。
     </p>
     <div style="width: 630px; text-align: center; margin-left: 200px; margin-top: 20px;">
        <a href="/plans" class="post">ホームへ</a>
     </div>
  </div>
 </div>
</div>